// Variables
$off_black: #1D1D1D;
$purple_lightest: #D7B4FF;
$purple_second: #C490FF;
$purple_third: #B97CFF;
$purple_fourth: #A55BFF;
$purple_darkest: #260252;

.row {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.col-8, .col-4 {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    color: $off_black;
    font-family: 'Poppins', sans-serif;
}
@mixin navbutton() {
    height: 7vh;
    width: 10vw;
    display: inline;
    background-color: $purple_second;
    border: 2px solid $off_black;
    border-right: 1px solid $off_black;
    p {
        a {
            color: $off_black;
        }
    }
}
@mixin navtext() {
    padding: 1.5vh 0;
    font-size: 1.5em;
    text-align: center;
    color: $off_black;
    @media (max-width: 740px) {
        font-size: 1.2em;
        margin-top: 0.5vh;
    }
    
}
@mixin navwhite() {
    cursor: pointer;
    p {
        color: white;
    }
}
@mixin pointer() {
    cursor: pointer;
}
// Header
.header {
    width: 100vw;
    height: 12vh;
    padding: 1vh 0;
    box-sizing: border-box;
    background-color: $purple_darkest;

    // Logo
    .header__logo {
        position: absolute;
        float: left;
        margin-left: 5vw;
        color: white;
        @media (max-width: 740px) {
            margin-left: 3vw;
        }
    }
    // Navbar
    
    .nav {
        margin-top: 1.5vh;
        .nav__home, .nav__work, .nav__about, .nav__contact {
            text-decoration: none;
            .active {
                color: white !important;
            }
        }
       
        .nav__home {
            @include navbutton();
            &:hover {
                @include navwhite();
            }
            .home__text {
                @include navtext();
            }
        }
        .nav__work {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .work__text {
                @include navtext();
                
            }
        }
        .nav__about {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .about__text {
                @include navtext();
                
            }
        }
        .nav__contact {
            margin-right: auto;
            @include navbutton();
            border-right: 2px solid $off_black;

            &:hover {
                @include navwhite();
               
            }
            .contact__text {
                @include navtext();
            }
            
        }
    }

    // MOBILE MENU
    .mobile__nav {
        @media (min-width: 650px) {
            display: none;
        }
        .mob__icon {
            position: absolute;
            right: 8vw;
            top: 1.5vh;
            color: white;
        }
                
        .mob__links {
            position: absolute;
            right: 8vw;
            top: 12vh;
            display: block;
            width: 30vw;
            background-color: $purple_darkest;
            a {
                position: relative;
                display: inline-block;
                color: white;
                width: 30vw;
                height: 5vh;
                font-size: 1.5em;
                text-align: right;
                // border: 1px solid white;
                
            }
        }
    }
    

} // End of .header // 

.main {
    .boss__row {
        .top__row {
            height: 44vh;
            background-color: $purple_lightest;
        
            .image__container {
                padding: 5vh 5vw;
                .top__image {
                    height: 33vh;
                    background-position: center; 
                    border-radius: 10px;
                    @media (max-width: 850px) {
                        height: 30vh;
                    }
                    @media (max-width: 760px) {
                        height: 27vh;
                    }
                    @media (max-width: 680px) {
                        height: 23vh;
                    }
                    @media (max-width: 580px) {
                        height: 20vh;
                    }
                }
            }
            
            .top__title {
                padding: 4vh 3vw;
                margin-top: 4vh;
                font-size: 3em;
                p {
                    margin-top: 5vh;
                    font-size: 1.5rem;
                }
            }
        }

        .bottom__row {
            height: 44vh;
            background-color: $purple_second;
            padding: 4vh 5vw;
            .bottom__text {
                width: 100%;
                text-align: center;
                line-height: 6vh;
                font-size: 1.2em;
                @media (max-width: 729px) {
                    line-height: 4vh;
                }
                p {
                    margin-top: 3vh;
                    font-size: 1rem;
                    a {
                        text-decoration: none;
                        color: #00695c;
                    }
                }
            }
        }
    }
}