.row {
  margin-left: auto;
  margin-right: auto;
  padding: 0; }

.col-8, .col-4 {
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  color: #1D1D1D;
  font-family: 'Poppins', sans-serif; }

.header {
  width: 100vw;
  height: 12vh;
  padding: 1vh 0;
  box-sizing: border-box;
  background-color: #260252; }
  .header .header__logo {
    position: absolute;
    float: left;
    margin-left: 5vw;
    color: white; }
    @media (max-width: 740px) {
      .header .header__logo {
        margin-left: 3vw; } }
  .header .nav {
    margin-top: 1.5vh; }
    .header .nav .nav__home, .header .nav .nav__work, .header .nav .nav__about, .header .nav .nav__contact {
      text-decoration: none; }
      .header .nav .nav__home .active, .header .nav .nav__work .active, .header .nav .nav__about .active, .header .nav .nav__contact .active {
        color: white !important; }
    .header .nav .nav__home {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__home p a {
        color: #1D1D1D; }
      .header .nav .nav__home:hover {
        cursor: pointer; }
        .header .nav .nav__home:hover p {
          color: white; }
      .header .nav .nav__home .home__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__home .home__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__work {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__work p a {
        color: #1D1D1D; }
      .header .nav .nav__work:hover {
        cursor: pointer; }
        .header .nav .nav__work:hover p {
          color: white; }
      .header .nav .nav__work .work__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__work .work__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__about {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__about p a {
        color: #1D1D1D; }
      .header .nav .nav__about:hover {
        cursor: pointer; }
        .header .nav .nav__about:hover p {
          color: white; }
      .header .nav .nav__about .about__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__about .about__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__contact {
      margin-right: auto;
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D;
      border-right: 2px solid #1D1D1D; }
      .header .nav .nav__contact p a {
        color: #1D1D1D; }
      .header .nav .nav__contact:hover {
        cursor: pointer; }
        .header .nav .nav__contact:hover p {
          color: white; }
      .header .nav .nav__contact .contact__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__contact .contact__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
  @media (min-width: 650px) {
    .header .mobile__nav {
      display: none; } }
  .header .mobile__nav .mob__icon {
    position: absolute;
    right: 8vw;
    top: 1.5vh;
    color: white; }
    .header .mobile__nav .mob__icon:hover {
      cursor: pointer; }
  .header .mobile__nav .mob__links {
    position: absolute;
    right: 8vw;
    top: 12vh;
    display: block;
    width: 30vw;
    background-color: #260252; }
    .header .mobile__nav .mob__links a {
      position: relative;
      display: inline-block;
      color: white;
      width: 30vw;
      height: 5vh;
      font-size: 1.5em;
      text-align: right; }
      .header .mobile__nav .mob__links a:hover {
        color: #00796b;
        text-decoration: none; }

.main .boss__row .top__row {
  height: 44vh;
  background-color: #D7B4FF; }
  .main .boss__row .top__row .image__container {
    padding: 5vh 5vw; }
    .main .boss__row .top__row .image__container .top__image {
      height: 33vh;
      background-position: center;
      border-radius: 10px; }
      @media (max-width: 850px) {
        .main .boss__row .top__row .image__container .top__image {
          height: 30vh; } }
      @media (max-width: 760px) {
        .main .boss__row .top__row .image__container .top__image {
          height: 27vh; } }
      @media (max-width: 680px) {
        .main .boss__row .top__row .image__container .top__image {
          height: 23vh; } }
      @media (max-width: 580px) {
        .main .boss__row .top__row .image__container .top__image {
          display: none; } }
  .main .boss__row .top__row .top__title {
    padding: 4vh 3vw;
    margin-top: 4vh;
    font-size: 3em; }
    @media (max-width: 580px) {
      .main .boss__row .top__row .top__title {
        text-align: center; } }
    .main .boss__row .top__row .top__title p {
      margin-top: 5vh;
      font-size: 1.5rem; }
.main .boss__row .bottom__row {
  height: 44vh;
  background-color: #C490FF;
  padding: 4vh 5vw; }
  .main .boss__row .bottom__row .bottom__text {
    width: 100%;
    text-align: center;
    line-height: 6vh;
    font-size: 1.2em; }
    @media (max-width: 729px) {
      .main .boss__row .bottom__row .bottom__text {
        line-height: 4vh; } }
    @media (max-width: 425px) {
      .main .boss__row .bottom__row .bottom__text {
        font-size: 1em;
        line-height: 3vh; } }
    .main .boss__row .bottom__row .bottom__text p {
      margin-top: 3vh;
      font-size: 1rem; }
      @media (max-width: 425px) {
        .main .boss__row .bottom__row .bottom__text p {
          margin-top: 5vh;
          font-size: 0.9rem; } }
      .main .boss__row .bottom__row .bottom__text p a {
        text-decoration: none;
        color: #00796b; }
        .main .boss__row .bottom__row .bottom__text p a:hover {
          color: white; }

/*# sourceMappingURL=about.css.map */
