// Variables
$off_black: #1D1D1D;
$purple_lightest: #D7B4FF;
$purple_second: #C490FF;
$purple_third: #B97CFF;
$purple_fourth: #A55BFF;
$purple_darkest: #260252;

.row {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.col-8, .col-4 {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    color: $off_black;
    font-family: 'Poppins', sans-serif;
}
@mixin navbutton() {
    display: inline;
    background-color: $purple_second;
    border: 2px solid $off_black;
    border-right: 1px solid $off_black;
    p {
        a {
            color: $off_black;
        }
    }
}
@mixin navtext() {
    padding: 1.5vh 0;
    font-size: 1.5em;
    text-align: center;
    color: $off_black;
    
}
@mixin navwhite() {
    cursor: pointer;
    p {
        color: white;
    }
}
@mixin pointer() {
    cursor: pointer;
}
// Header
.header {
    width: 100vw;
    height: 12vh;
    padding: 1vh 0;
    box-sizing: border-box;
    background-color: $purple_darkest;

    // Logo
    .header__logo {
        position: absolute;
        float: left;
        margin-left: 5vw;
        color: white;

    }
    // Navbar
    
    .nav {
        .nav__home, .nav__work, .nav__about, .nav__contact {
            text-decoration: none;
            .active {
                color: white !important;
            }
        }
       
        .nav__home {
            @include navbutton();
            &:hover {
                @include navwhite();
            }
            .home__text {
                @include navtext();
            }
        }
        .nav__work {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .work__text {
                @include navtext();
                
            }
        }
        .nav__about {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .about__text {
                @include navtext();
                
            }
        }
        .nav__contact {
            margin-right: auto;
            @include navbutton();
            border-right: 2px solid $off_black;

            &:hover {
                @include navwhite();
               
            }
            .contact__text {
            
                @include navtext();
                
            }
            
        }
    }

} // End of .header // 

.main {
    .boss__row {
        .top__row {
            height: 44vh;
            background-color: $purple_lightest;
        
            .image__container {
                width: 100%;
                padding: 5vh 5vw;
                overflow: hidden;
                .top__image {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 10px;
                    
                }
            }
            
            .top__title {
                padding: 4vh 3vw;
                margin-top: 4vh;
                font-size: 3em;
                p {
                    margin-top: 5vh;
                    font-size: 1.5rem;
                }
            }
        }

        .bottom__row {
            height: 44vh;
            background-color: $purple_second;
            padding: 4vh 5vw;
            .bottom__text {
                width: 100%;
                text-align: center;
                line-height: 6vh;
                font-size: 1.2em;
                p {
                    margin-top: 3vh;
                    font-size: 1rem;
                    a {
                        text-decoration: none;
                        color: #00695c;
                    }
                }
            }
        }
    }
}