// Variables
$off_black: #1D1D1D;
$purple_lightest: #D7B4FF;
$purple_second: #C490FF;
$purple_third: #B97CFF;
$purple_fourth: #A55BFF;
$purple_darkest: #260252;
$teal: #00796b;

body {
    height: 100vh;
    color: $off_black;
    font-family: 'Poppins', sans-serif;
}
@mixin navbutton() {
    height: 7vh;
    width: 10vw;
    display: inline;
    background-color: $purple_second;
    border: 2px solid $off_black;
    border-right: 1px solid $off_black;
    p {
        a {
            color: $off_black;
        }
    }
}
@mixin navtext() {
    padding: 1.5vh 0;
    font-size: 1.5em;
    text-align: center;
    color: $off_black;
    @media (max-width: 740px) {
        font-size: 1.2em;
        margin-top: 0.5vh;
    }
}
@mixin navwhite() {
    cursor: pointer;
    p {
        color: white;
    }
}
@mixin pointer() {
    cursor: pointer;
}
// Header
.header {
    width: 100vw;
    height: 12vh;
    padding: 1vh 0;
    box-sizing: border-box;
    background-color: $purple_darkest;

    // Logo
    .header__logo {
        position: absolute;
        float: left;
        margin-left: 5vw;
        color: white;
        @media (max-width: 740px) {
            margin-left: 3vw;
        }
    }
    // Navbar
    
    .nav {
        margin-top: 1.5vh;
        @media (max-width: 650px) {
            display: none;
        }
        .nav__home, .nav__work, .nav__about, .nav__contact {
            text-decoration: none;
            .active {
                color: white !important;
            }
        }
       
        .nav__home {
            @include navbutton();
            &:hover {
                @include navwhite();
            }
            .home__text {
                @include navtext();
            }
        }
        .nav__work {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .work__text {
                @include navtext();
                
            }
        }
        .nav__about {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .about__text {
                @include navtext();
                
            }
        }
        .nav__contact {
            margin-right: auto;
            @include navbutton();
            border-right: 2px solid $off_black;

            &:hover {
                @include navwhite();
               
            }
            .contact__text {
            
                @include navtext();
                
            }
            
        }
    }

    // MOBILE MENU
    .mobile__nav {
        @media (min-width: 650px) {
            display: none;
        }
        .mob__icon {
            position: absolute;
            right: 8vw;
            top: 1.5vh;
            color: white;
            &:hover {
                cursor: pointer;
            }
        }
                
        .mob__links {
            position: absolute;
            right: 8vw;
            top: 12vh;
            display: block;
            width: 30vw;
            background-color: $purple_darkest;
            a {
                position: relative;
                display: inline-block;
                color: white;
                width: 30vw;
                height: 5vh;
                font-size: 1.5em;
                text-align: right;
                &:hover {
                    color: $teal;
                    text-decoration: none;
                }
            }
        }
    }
    

} // End of .header // 
@mixin block() {
    // padding: 4vh 2vw;
    padding: 30px 20px;
    width: 50vw;
    height: 44vh;
}
@mixin blockTitle() {
    margin-bottom: 3vh;
    font-size: 3em;
    text-align: center;
}
@mixin blockText() {
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;
}
@mixin socialimage() {
    height: 20vh;
    margin: 0 auto;
    // margin-top: 1vh;
    margin-bottom: 3vh;
    border-radius: 50%;
}
@mixin hover() {
    &:hover {
        cursor: pointer;
        padding: 28px 18px;
        border: 2px solid white;
        color: white;
    }
}
.main {
    width: 100vw;
    height: 88vh;
    background-color: $purple_fourth;
    .boss__row {

        .email__section, .linkedin__section, .twitter__section, .github__section {
            @include block();
        }

        .email__section { 
            background-color: $purple_lightest;
            .email__title {
                @include blockTitle();
            }
            .email__text {
                @include blockText();
                font-size: 1.3em;
                a {
                    text-decoration: none;
                    color: $teal;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        
        .linkedin__section {
            @include hover();
            background-color: $purple_second;
            .linkedin__title {
                @include blockTitle();
            }
            .linkedin__text {
                @include blockText();
            }
            .image__container {
                .linkedin__image {
                    @include socialimage();
                    // border: 1px solid black;
    
                }
            }
            
        }

        .twitter__section {
            @include hover();
            background-color: $purple_third;
            .twitter__title {
                @include blockTitle();
            }
            .twitter__text {
                @include blockText();
            }
            .image__container {
                .twitter__image {
                   @include socialimage();
                }
            }
        }

        .github__section {
            @include hover();
            background-color: $purple_fourth;
            .github__title {
                @include blockTitle();
            }
            .github__text {
                @include blockText();
            }
            .image__container {
                .github__image {
                    @include socialimage();
                }
            }
        }
    }
    
    
}
.row {
    margin-left: auto;
    margin-right: auto;
}