body {
  height: 100vh;
  color: #1D1D1D;
  font-family: 'Poppins', sans-serif; }

.header {
  width: 100vw;
  height: 12vh;
  padding: 1vh 0;
  box-sizing: border-box;
  background-color: #260252; }
  .header .header__logo {
    position: absolute;
    float: left;
    margin-left: 5vw;
    color: white; }
    @media (max-width: 740px) {
      .header .header__logo {
        margin-left: 3vw; } }
  .header .nav {
    margin-top: 1.5vh; }
    @media (max-width: 650px) {
      .header .nav {
        display: none; } }
    .header .nav .nav__home, .header .nav .nav__work, .header .nav .nav__about, .header .nav .nav__contact {
      text-decoration: none; }
      .header .nav .nav__home .active, .header .nav .nav__work .active, .header .nav .nav__about .active, .header .nav .nav__contact .active {
        color: white !important; }
    .header .nav .nav__home {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__home p a {
        color: #1D1D1D; }
      .header .nav .nav__home:hover {
        cursor: pointer; }
        .header .nav .nav__home:hover p {
          color: white; }
      .header .nav .nav__home .home__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__home .home__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__work {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__work p a {
        color: #1D1D1D; }
      .header .nav .nav__work:hover {
        cursor: pointer; }
        .header .nav .nav__work:hover p {
          color: white; }
      .header .nav .nav__work .work__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__work .work__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__about {
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D; }
      .header .nav .nav__about p a {
        color: #1D1D1D; }
      .header .nav .nav__about:hover {
        cursor: pointer; }
        .header .nav .nav__about:hover p {
          color: white; }
      .header .nav .nav__about .about__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__about .about__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
    .header .nav .nav__contact {
      margin-right: auto;
      height: 7vh;
      width: 10vw;
      display: inline;
      background-color: #C490FF;
      border: 2px solid #1D1D1D;
      border-right: 1px solid #1D1D1D;
      border-right: 2px solid #1D1D1D; }
      .header .nav .nav__contact p a {
        color: #1D1D1D; }
      .header .nav .nav__contact:hover {
        cursor: pointer; }
        .header .nav .nav__contact:hover p {
          color: white; }
      .header .nav .nav__contact .contact__text {
        padding: 1.5vh 0;
        font-size: 1.5em;
        text-align: center;
        color: #1D1D1D; }
        @media (max-width: 740px) {
          .header .nav .nav__contact .contact__text {
            font-size: 1.2em;
            margin-top: 0.5vh; } }
  @media (min-width: 650px) {
    .header .mobile__nav {
      display: none; } }
  .header .mobile__nav .mob__icon {
    position: absolute;
    right: 8vw;
    top: 1.5vh;
    color: white; }
    .header .mobile__nav .mob__icon:hover {
      cursor: pointer; }
  .header .mobile__nav .mob__links {
    position: absolute;
    right: 8vw;
    top: 12vh;
    display: block;
    width: 30vw;
    background-color: #260252; }
    .header .mobile__nav .mob__links a {
      position: relative;
      display: inline-block;
      color: white;
      width: 30vw;
      height: 5vh;
      font-size: 1.5em;
      text-align: right; }
      .header .mobile__nav .mob__links a:hover {
        color: #00796b;
        text-decoration: none; }

.main {
  width: 100vw;
  height: 88vh;
  background-color: #A55BFF; }
  .main .boss__row .email__section, .main .boss__row .linkedin__section, .main .boss__row .twitter__section, .main .boss__row .github__section {
    padding: 30px 20px;
    width: 50vw;
    height: 44vh; }
  .main .boss__row .email__section {
    background-color: #D7B4FF; }
    .main .boss__row .email__section .email__title {
      margin-bottom: 3vh;
      font-size: 3em;
      text-align: center; }
    .main .boss__row .email__section .email__text {
      text-align: center;
      line-height: 2em;
      font-size: 1em; }
      .main .boss__row .email__section .email__text a {
        text-decoration: none;
        color: #00796b; }
        .main .boss__row .email__section .email__text a:hover {
          color: white; }
  .main .boss__row .linkedin__section {
    background-color: #C490FF; }
    .main .boss__row .linkedin__section:hover {
      cursor: pointer;
      padding: 28px 18px;
      border: 2px solid white;
      color: white; }
    .main .boss__row .linkedin__section .linkedin__title {
      margin-bottom: 3vh;
      font-size: 3em;
      text-align: center; }
    .main .boss__row .linkedin__section .linkedin__text {
      text-align: center;
      line-height: 2em; }
    .main .boss__row .linkedin__section .image__container .linkedin__image {
      height: 20vh;
      margin: 0 auto;
      margin-bottom: 3vh;
      border-radius: 50%; }
  .main .boss__row .twitter__section {
    background-color: #B97CFF; }
    .main .boss__row .twitter__section:hover {
      cursor: pointer;
      padding: 28px 18px;
      border: 2px solid white;
      color: white; }
    .main .boss__row .twitter__section .twitter__title {
      margin-bottom: 3vh;
      font-size: 3em;
      text-align: center; }
    .main .boss__row .twitter__section .twitter__text {
      text-align: center;
      line-height: 2em; }
    .main .boss__row .twitter__section .image__container .twitter__image {
      height: 20vh;
      margin: 0 auto;
      margin-bottom: 3vh;
      border-radius: 50%; }
  .main .boss__row .github__section {
    background-color: #A55BFF; }
    .main .boss__row .github__section:hover {
      cursor: pointer;
      padding: 28px 18px;
      border: 2px solid white;
      color: white; }
    .main .boss__row .github__section .github__title {
      margin-bottom: 3vh;
      font-size: 3em;
      text-align: center; }
    .main .boss__row .github__section .github__text {
      text-align: center;
      line-height: 2em; }
    .main .boss__row .github__section .image__container .github__image {
      height: 20vh;
      margin: 0 auto;
      margin-bottom: 3vh;
      border-radius: 50%; }

.row {
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=contact.css.map */
