body {
  color: #1D1D1D;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.row {
  margin-left: auto;
  margin-right: auto; }

.main__container {
  padding: 0; }
  .main__container .top__row .top__left {
    border: none;
    height: 50vh;
    width: 50vw;
    padding: 20px 20px;
    color: #1D1D1D;
    background-color: #D7B4FF; }
    .main__container .top__row .top__left .name__title {
      margin-top: 20px;
      text-align: right;
      font-size: 3.5em; }
    .main__container .top__row .top__left .name__subtitle {
      margin-top: 30px;
      text-align: right;
      font-size: 1.5em; }
  .main__container .top__row .top__right {
    border: none;
    height: 50vh;
    width: 50vw;
    padding: 20px 20px;
    color: #1D1D1D;
    background-color: #C490FF; }
    .main__container .top__row .top__right:hover {
      cursor: pointer;
      border: 2px solid white;
      padding: 18px 18px;
      color: white; }
      .main__container .top__row .top__right:hover .right__fork {
        transition: all 0.6s ease;
        color: white;
        transform: translateY(-10px); }
      .main__container .top__row .top__right:hover .right__title {
        transition: all 0.6s ease;
        color: white; }
    .main__container .top__row .top__right .right__fork {
      color: #1D1D1D;
      margin-left: 22vw;
      margin-top: 10vh; }
      @media (max-width: 767px) {
        .main__container .top__row .top__right .right__fork {
          margin-left: 45vw; } }
      @media (max-width: 630px) {
        .main__container .top__row .top__right .right__fork {
          margin-left: 44vw; } }
    .main__container .top__row .top__right .right__title {
      margin-top: 5vh;
      font-size: 3.5em;
      text-align: center;
      color: #1D1D1D; }
  .main__container .bottom__row .bottom__left {
    border: none;
    height: 50vh;
    width: 50vw;
    padding: 20px 20px;
    color: #1D1D1D;
    background-color: #B97CFF; }
    .main__container .bottom__row .bottom__left:hover {
      cursor: pointer;
      border: 2px solid white;
      padding: 18px 18px;
      color: white; }
      .main__container .bottom__row .bottom__left:hover .left__coffee {
        transition: all 0.6s ease;
        color: white;
        transform: translateY(-10px); }
      .main__container .bottom__row .bottom__left:hover .left__title {
        transition: all 0.6s ease;
        color: white; }
    .main__container .bottom__row .bottom__left .left__coffee {
      color: #1D1D1D;
      margin-left: 20vw;
      margin-top: 10vh; }
      @media (max-width: 767px) {
        .main__container .bottom__row .bottom__left .left__coffee {
          margin-left: 43vw; } }
      @media (max-width: 650px) {
        .main__container .bottom__row .bottom__left .left__coffee {
          margin-left: 40vw; } }
      @media (min-width: 1200px) {
        .main__container .bottom__row .bottom__left .left__coffee {
          margin-left: 21vw; } }
    .main__container .bottom__row .bottom__left .left__title {
      margin-top: 5vh;
      font-size: 3.5em;
      text-align: center;
      color: #1D1D1D; }
  .main__container .bottom__row .bottom__right {
    border: none;
    height: 50vh;
    width: 50vw;
    padding: 20px 20px;
    color: #1D1D1D;
    background-color: #A55BFF; }
    .main__container .bottom__row .bottom__right:hover {
      cursor: pointer;
      border: 2px solid white;
      padding: 18px 18px;
      color: white; }
      .main__container .bottom__row .bottom__right:hover .right__mail {
        transition: all 0.6s ease;
        color: white;
        transform: translateY(-10px); }
      .main__container .bottom__row .bottom__right:hover .right__title {
        transition: all 0.6s ease;
        color: white; }
    .main__container .bottom__row .bottom__right .right__mail {
      color: #1D1D1D;
      margin-left: 20vw;
      margin-top: 10vh; }
      @media (max-width: 767px) {
        .main__container .bottom__row .bottom__right .right__mail {
          margin-left: 43vw; } }
      @media (max-width: 650px) {
        .main__container .bottom__row .bottom__right .right__mail {
          margin-left: 40vw; } }
      @media (min-width: 1200px) {
        .main__container .bottom__row .bottom__right .right__mail {
          margin-left: 21vw; } }
    .main__container .bottom__row .bottom__right .right__title {
      margin-top: 5vh;
      font-size: 3.5em;
      text-align: center;
      color: #1D1D1D; }

/*# sourceMappingURL=styles.css.map */
