$off_black: #1D1D1D;


@mixin mainSquare() {
    height: 50%;
    padding: 20px 20px;
}
body {
    color: $off_black;
    // font-family: Avenir;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5em;

}
h2 {
    font-size: 2em;
}
@mixin icon() {
}
@mixin title() {
    margin-top: 5%;
    font-size: 3.5em;
    text-align: center;
}
.main__container {
    .top__row {
        .top__left {
            @include mainSquare();
            background-color: #D7B4FF;
            
            // background-color: #19199E;
            .name__title {
                margin-top: 20px;
                text-align: right;
            }
            .name__subtitle {
                margin-top: 30px;
                text-align: right;
                
            }
        }  
        .top__right {
            @include mainSquare();
            // background-color: #7700FF;
            background-color: #C490FF;
            .right__fork {
                margin-left: 47%;
                margin-top: 9%;
            }
            .right__title {
                margin-top: 5%;
                font-size: 3.5em;
                text-align: center;
            }
            
        }
    }
    .bottom__row {
        .bottom__left {
            @include mainSquare();
            // background-color: #5500B6;
            background-color: #B97CFF;
            .left__coffee {
                margin-left: 43%;
                margin-top: 9%;
            }
            .left__title {
                @include title();
            }
        }
        .bottom__right {
            @include mainSquare();
            // background-color: #3019B1;
            background-color: #A55BFF;
            .right__mail {
                margin-left: 43%;
                margin-top: 9%;
            }
            .right__title {
                @include title();
            }
        }
    }
    
}
