// Variables
$off_black: #1D1D1D;
$purple_lightest: #D7B4FF;
$purple_second: #C490FF;
$purple_third: #B97CFF;
$purple_fourth: #A55BFF;
$purple_darkest: #260252;


body {
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}
@mixin navbutton() {
    display: inline;
    background-color: $purple_second;
    border: 2px solid $off_black;
    border-right: 1px solid $off_black;
    
}
@mixin navtext() {
    padding: 1.5vh 0;
    font-size: 1.5em;
    text-align: center;
    color: $off_black;
    
}
@mixin navwhite() {
    cursor: pointer;
    p {
        color: white !important;
    }
}
@mixin pointer() {
    cursor: pointer;
}
// Header
.header {
    width: 100vw;
    height: 12vh;
    padding: 1vh 0;
    box-sizing: border-box;
    background-color: $purple_darkest;

    // Logo
    .header__logo {
        position: absolute;
        float: left;
        margin-left: 5vw;
        margin-top: 0.5vh;

    }
    // Navbar
    
    .nav {
        .nav__home, .nav__work, .nav__about, .nav__contact {
            text-decoration: none;
            .active {
                color: white !important;
            }
        }
       
        .nav__home {
            @include navbutton();
            &:hover {
                @include navwhite();
            }
            .home__text {
                @include navtext();
            }
        }
        .nav__work {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .work__text {
                @include navtext();
                
            }
        }
        .nav__about {
            @include navbutton();
            
            &:hover {
                @include navwhite();
            }
            .about__text {
                @include navtext();
                
            }
        }
        .nav__contact {
            margin-right: auto;
            @include navbutton();
            border-right: 2px solid $off_black;

            &:hover {
                @include navwhite();
               
            }
            .contact__text {
            
                @include navtext();
                
            }
            
        }
    }

} // End of .header // 


// Main //

@mixin blocks() {
    padding: 0;
    height: 44vh;
    box-sizing:  border-box;
    background-color: $purple_darkest;
}
@mixin subtitle() {
    height: 8.8vh;
    text-align: center;
    padding-top: 3vh;
    font-size: 1.3em;
    background-color: $purple_darkest;
}
@mixin image() {
    height: 35.2vh;
    width: 100%;
}
.row {
    margin-left: auto;
    margin-right: auto;
}

// js class
.clicked {
    filter: brightness(50%);
}
// end
main {
    // // Rows
    .boss__row {
        @include blocks();
        
        // Left blocks
        .first__left, .second__left, .third__left {
            @include pointer();
            border: 2px solid $off_black;
            &:hover {
                border: 2px solid white;
            }
            .dark__1, .dark__3 {
                img { 
                    @include image();
    
                }
                .subtitle {
                    @include subtitle();
                }
                 // more specific 
                .first__left__image {
                
                }
                .first__left__sub {
                    
                }
            }
           

           
            

        }
        // Right blocks
        .first__right, .second__right, .third__right {
            @include pointer();
            border: 2px solid $off_black;
            &:hover {
                border: 2px solid white;
            }
            .dark__2, .dark__4 {
                img { 
                    @include image();
                }
                .subtitle {
                    @include subtitle();
                }
            }
            
            
        }
    }
}


// click display
@mixin hoverTurnTeal() {
    text-decoration: none;
    border-color: $purple_second;
    color: $purple_second;
}
.options {
    position: absolute;
    top: 15vh;
    width: 100%;
    color: white;
    font-size: 1.3em;
    .options_live, .options_git {
    }
    .options_live {
        color: white;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
        background-color: rgba(0,0,0,0);
        padding: 2vh 5vw;
        &:hover {
            @include hoverTurnTeal();
        }
    }
    .options_git {
    
        color: white;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
        
        background-color: rgba(0,0,0,0);
        padding: 2vh 5vw;
        &:hover {
            @include hoverTurnTeal();
        }
        
    }
}


.col-md-6, .col-2 {
    padding: 0px;
    margin: 0px;
}